.filter-container[b-p37qtelxgk] {
    margin-bottom: 20px;
}

.filter-input[b-p37qtelxgk] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.filter-button[b-p37qtelxgk] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.table[b-p37qtelxgk] {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

    .table th[b-p37qtelxgk] {
        background-color: #808080;
        color: #fff;
        padding: 10px;
        cursor: pointer;
    }

    .table td[b-p37qtelxgk] {
        border: 1px solid #ccc;
        padding: 10px;
    }

.edit-button[b-p37qtelxgk] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button[b-p37qtelxgk] {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.create-button[b-p37qtelxgk] {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
