
<app-nav-bar></app-nav-bar>

<!-- <div class="container" style="margin-top: 140px;">
<h5>Welcome to {{title}}!</h5>
<app-shop></app-shop>
</div>  -->
<!-- <router-outlet></router-outlet> -->


<div class="main-container ">
  <div class="sid-nev col-md-2">
    <app-adminsidenav></app-adminsidenav>
  </div>

  <div class="main col-md-10 pb-3">
    <router-outlet></router-outlet>
  </div>
</div>


<app-footer></app-footer>

<!-- <nav>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" routerLink="/brand">Brand</a></li>
  </ul>
</nav> -->

<!-- <div class="container" style="margin-top:3%;">
  <router-outlet>
    
  </router-outlet>
</div> -->

